
<div  class="container"> 
    <div *ngIf="items.length >0" class="container"></div>
    <ul>
       <li *ngFor="let cartItem of items">
            <li >
            <div>
                <img src="/src/assets/images/img-300X199.png" alt="cartItem.food.name">
            </div>
            <div>
                <a routerLink="/food/cart">
                    carte
                </a>
            </div>

            <div>
                <!-- <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
               -->
                    <select #quantitySelect > 
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div>
                333| currency 
            </div>

            <!-- <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div> -->
        </li>
    </ul>

    <div class="checkout">
        <!-- <div>
            <div class="foods-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice| currency}}</div>
        </div> -->
    </div>

</div>




 <!-- <h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>  -->