.gradient-custom {
    /* fallback for old browsers */
    background: #FFA602;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #FFA602, rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), #FFA602)
    }

    /* * FFA602 F30E0E brand color */ 