<div class="container mt-5">

    <div class="row centerMe">
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" required placeholder="Your Firstname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" required placeholder="Your Lastname" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="address" [(ngModel)]="address" class="form-control form-control-lg" required placeholder="Address" name="address" id="addresse"
                       aria-describedby="addressHelp">

            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="phone" [(ngModel)]="phone"  class="form-control form-control-lg" required minlength="10" placeholder="Phone" name="phone" id="phone"
                       aria-describedby="emailHelp">
        
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" [(ngModel)]="username" class="form-control form-control-lg" required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control form-control-lg" required placeholder="Password" name="password"
                       id="password">
            </div>
            <p *ngIf="error" class="error">
                {{ error }}<br />
                Your registration is successful!
            </p>
            <input type="submit" value="Register" (click)="register()" class="btn btn-block">
            <span style="margin-top: 10px">Already have an account <a class="linkControl" routerLink="login">Login here</a></span>
        </form>

    </div>
</div>
</div>