body {
    background-color: #eee
}


.image-container {
    /* position: relative; */
    object-fit: scale-up;
}
/* fill - stretch the image.
contain - preserve the aspect ratio of the image.
cover - Fill the height and width of the box.
none - Keep the original size.
scale-down */

.thumbnail-image {
    border-radius: 20px !important;
    box-shadow: 0 1px 8px 0 #F30E0E, 0 6px 20px 0 #FFA602;
    min-width: 350px; /* You can set the dimensions to whatever you want */
    max-height: 200px;
    
   
}

.meal-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}
.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}
