<!-- <div class="container-checkout">
    <div class="items">
        <h5>Confirm your order</h5>
        <div class="item-detail">
            <div class="name">1. Item 1</div>
            <div class="price">
                <div class="price-detail">$32.99</div>
                <div class="quHandler"></div>
            </div>
            
        </div>
    </div>
    <div class="subtotal"><span>Subtotal</span></div>
    <div class="tax"><span>Tax</span></div>
    <div class="total"><span>Total</span></div>
    
    <div class="d-flex justify-content-center align-items-center pt-1">
    <div class="btn btn-block">Add To Cart +</div>
</div>
</div> -->




<!--  -->

<!-- <app-not-found [visible]="!cart || cart.items.length <=0"
notFoundMessage="Cart Page Is Empty!"
resetLinkText="Go To Homepage"
>
</app-not-found> -->
<div  class="container">
    <!-- <div *ngIf="cart && cart.items.length >0" class="container"></div> -->
    <ul>
        <!-- <li *ngFor="let cartItem of cart.items"> -->
            <li >
            <div>
                <img src="/src/assets/images/img-300X199.png" alt="cartItem.food.name">
            </div>
            <div>
                <a routerLink="/food/cart">
                    carte
                </a>
            </div>

            <div>
                <!-- <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)"> -->
                <select #quantitySelect >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div>
                333| currency 
            </div>

            <div>
                <!-- <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button> -->
            </div>
        </li>
    </ul>

    <div class="checkout">
        <!-- <div>
            <div class="foods-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice| currency}}</div>
        </div> -->
    </div>

</div>