<!-- <div class="d-flex flex-column ml-2 "> 
             <span>
                    Calories: 200
                   
                </span>
         
        </div>
        <div class="d-flex flex-column ml-2 "> 
            <span>
                    <a>See More...</a>
                </span>
         
        </div> -->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-6" *ngIf="meal">


            <img src="{{meal.imageUrl}}" class=" thumbnail-image">
</div>

            <div class="col-md-auto col-md-6">

                <div class="d-flex flex-flow column wrap ml-2">
                    <h5 class="meal-name">{{meal.name}}</h5>
                </div>
                <div class="d-flex flex-column mt-2 "> 
                    <span class="new-price">{{ meal.price |currency}}</span>
                </div>
                <div class="d-flex flex-column mt-2 ">
                    <span>
                        Serving: {{ meal.serving }}
                    </span>
                </div>

                <div class="d-flex justify-content-center align-items-center pt-1 mt-4">
                    <div class="btn btn-block" (click)="addToCart(meal)">Add To Cart +</div>
                </div>

            </div>

        </div>