<div class="container-login">
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form >    
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" [(ngModel)]="username" class="form-control form-control-lg" required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control form-control-lg" required placeholder="Password" name="password"
                       id="password">
            </div>
            <p *ngIf="error" class="error">
                {{ error }}
            </p>
            <input type="submit" value="Login" (click)="checkLogin()" class="btn  btn-block">
                </form>
    </div>
</div>
