/* You can add global styles to this file, and also import other style files */
/* FFA602 F30E0E brand color */
body{
    margin:2rem;
}
.container{
    overflow: hidden;
}
.btn{
    background-color: #FFA602;
}
.btn:hover{
    background-color: #F30E0E;
}

.container-register, .container-login{
    display:flex;
    justify-content: center;;
    align-items: center;
}

button, .btn,
input {
    border: 0;
    outline: 0;
    border-radius: 100px !important;
}
.centerMe{
    display:flex;
    justify-content:center;
    align-items:center;
}
.card , .jumbotron{ 
    margin:1rem;
    overflow: hidden;
    background-color: #fff;
    border: none;
    border-radius: 60px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}