body {
    background-color: #eee
}

.container {
 
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 60px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.image-container {
    position: relative
}
.thumbnail-image {
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(14, 7, 0, 0.803), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.meal-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}